@keyframes flicker {
  0% {
    opacity: 1;
  }
  20% {
	 opacity: 1;
  }
  21% {
	 opacity: 0.3;
   }
 25% {
    opacity: 0.9;
 }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0.8;
  }
  100% {
	 opacity: 1;
  }
}

@keyframes blinker {
  0% { opacity:1}
  50% { opacity: 0;}
  100% { opacity: 1;}
}


@keyframes disappear {
  0% { opacity: 0.5}
  20% { opacity: 1.0;}
  50% { opacity: 1.0;}
  85% { opacity: 0.9;}
  90% { opacity: 0.6;}
  95% { opacity: 0.3;}
  100% { opacity: 0.0;}
}


blink {
  color: #FFFFFF;
  margin-right: 6px;
}


code {
	display: block;
	font-family: 'VT323', monospace;
	white-space: pre-line;
	}

#codeliketext {
      max-width: 600px;
}

body {
/*	animation: flicker 6000ms infinite;  */
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'VT323', monospace;
  /*animation-name: flicker;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;*/
 
/* font-family: 'IBM Plex Mono', monospace; */
}

#inputbox {
    background-color: #008800;
    color: #000000;
    border: none;
    caret-color: #00FF00;
    font-family: 'VT323', monospace;
    font-size: 120%;
}

input:focus {
    outline: none;
    background-color: #00aa00;
}

b {
 color: #00FF00;
 }

 button {
  background-color: #bababc; /* Green */
  border: none;
  color: black;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
   margin: 5px;
   border-radius: 4px;
   font-family: "Josefin Sans", sans-serif;
  
 }
 
 button:active {
  background-color: #bababc; /* Green */
  border: none;
  color: black;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  margin: 5px;
  border-radius: 4px;
  font-family: "Josefin Sans", sans-serif;
 
 }
 
#playarea {
  width: 60%;
  margin: auto;
 }

#buttonArea {
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
 }

 #revealArea {
  width: 80%;
  margin-left: 5%;
  margin-right: 5%;
 }

 #spookyText {
  opacity: 0;
  animation-name: disappear;
  animation-duration: 6s;
  animation-timing-function: linear;
 }

#testArea {
  display: none;
}


@keyframes walk {
  0% { transform:rotate(50deg); opacity: 0.05}
  20% { transform: scale(2); opacity: 0.1}
  40% { transform:rotate(120deg); opacity: 0.2;}
  60% { transform: scale(3); opacity: 0.15}
  80% { transform:rotate(250deg); opacity: 0.1}
  100% { transform: scale(1); opacity: 0.05}
}

@keyframes walk2 {
  0% { transform:rotate(40deg); opacity: 0.03}
  20% { transform: scale(3); opacity: 0.1}
  40% { transform:rotate(110deg); opacity: 0.08;}
  60% { transform: scale(4); opacity: 0.12}
  80% { transform:rotate(300deg); opacity: 0.06}
  100% { transform: scale(1.4); opacity: 0.02}
}

#blurr {
  opacity: 0;
  transform:rotate(20deg);
  width: 400px;
  height: 400px;
  position: relative;
  left: 10px;
  top: -100px;
  animation-name: walk;
  animation-duration: 18s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
   z-index: -1 ;

}
#blurr2 {
  opacity: 0;
  transform:rotate(20deg);
  width: 400px;
  height: 400px;
  position: relative;
  left: 100px;
  top: -200px;
  animation-name: walk2;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
  z-index: -1 ;

}